insidelatexlogo:nth-child(2) {
    text-transform: uppercase;
    font-size: 0.85em;
    vertical-align: 0.15em;
    margin-left: -0.36em;
    margin-right: -0.15em;
}

insidelatexlogo:nth-child(4) {
    text-transform: uppercase;
    font-size: 1em;
    vertical-align: -0.25ex;
    margin-left: -0.1667em;
    margin-right: -0.125em;
}

insidetexlogo:nth-child(2) {
    text-transform: uppercase;
    font-size: 1em;
    vertical-align: -0.25ex;
    margin-left: -0.1667em;
    margin-right: -0.125em;
}

.directory-list li {
    list-style-type: "\1F4C1";
    padding-left: 5px;
}

.question-list li {
    list-style-type: "\2753";
    padding-left: 5px;
}
